/* styles.css */

/* Root style for the scene */
.root {
  -fx-font-family: 'Arial';
  -fx-font-size: 14px;
  -fx-background-color: #E5E5E5;
}
.borderPane
{
  -fx-background-image: url("Bg6.jpg"); /* Use classpath-relative path */
  -fx-background-size: cover;
}



/* Style for the VBox layout */
.VBox {
  -fx-background-color: #E5E5E5;/* Changed to a softer color */
  -fx-padding: 100 0;
  

}
.HBox{
  -fx-fill-width: true;
  -fx-fit-height: true;
  -fx-background-color:#E5E5E5;

}
.title {
  
  -fx-background-color: #ECF0F1; /* Changed to a softer color */

}

/* Style for labels */
.label {
  -fx-text-fill: #152744; /* Text color */
  -fx-font-size: 9px; /* Set the font size to a very small value */
}
.label1 {
  -fx-font-size: 16px;
  -fx-text-fill: #000000;
}
.status-label {
  -fx-font-size: 24px; /* Size of the text */
  -fx-font-weight: bold; /* Bold text */
  -fx-text-fill: #333333; /* Modern text color */
  -fx-background-color: #f0f0f0; /* Light background color */
  -fx-padding: 10px; /* Padding around the text */
  -fx-border-radius: 5px; /* Rounded corners */
  -fx-background-radius: 5px; /* Rounded corners for the background */
}





/* Style for buttons */
.button2 {
  -fx-background-color: #7B61FF;
  -fx-text-fill: #ffffff;
  -fx-text-align: left;
  -fx-transition: all 0.3s ease-in-out;
}
.button2:hover {
  -fx-background-color: #5644b1; /* Change background color on hover */
  -fx-font-size: 16px; /* Larger font size on hover */
  -fx-opacity: 1; /* Full opacity on hover */
  -fx-scale-x: 1.03; /* Slightly grow horizontally */
  -fx-scale-y: 1.03; /* Slightly grow vertically */
}
.button2:hover .icon {
  -fx-font-size: 30px; /* Larger icon size on hover */
}



.button1 {
  -fx-background-color: transparent; /* Transparent background to show only the text */
  -fx-text-fill: #FFFFFF; /* White text color for contrast */
  -fx-text-align: center; /* Center text */
  -fx-font-size: 80px; /* Initial large font size */
  -fx-font-weight: bold; /* Bold text for visibility */
  -fx-padding: 1px 1px; /* Padding around text */

  -fx-opacity: 0.9; /* Slight opacity */
  -fx-max-width: 300px; /* Ensure button can grow, adjust as needed */
  -fx-max-height: 130px; /* Ensure button can grow, adjust as needed */
  -fx-transition: all 0.3s ease-in-out; /* Smooth transition for hover effects */
}

/* Hover effect */
.button1:hover {
  -fx-font-size: 90px; /* Larger font size on hover */
  -fx-opacity: 1; /* Full opacity on hover */
  
}

.button3 {
  -fx-background-color: transparent; /* Transparent background to show only the text */
  -fx-text-fill: #FFFFFF; /* White text color for contrast */
  -fx-text-align: center; /* Center text */
  -fx-font-size: 50px; /* Initial large font size */
  -fx-font-weight: bold; /* Bold text for visibility */
  -fx-padding: 1px 1px; /* Padding around text */

  -fx-opacity: 0.9; /* Slight opacity */
  -fx-max-width: 300px; /* Ensure button can grow, adjust as needed */
  -fx-max-height: 130px; /* Ensure button can grow, adjust as needed */
  -fx-transition: all 0.3s ease-in-out; /* Smooth transition for hover effects */
}

/* Hover effect */
.button3:hover {
  -fx-font-size: 65px; /* Larger font size on hover */
  -fx-opacity: 1; /* Full opacity on hover */
  
}

/* Style for the drop-down list */
.combo-box .list-view {
  -fx-pref-width: 150px; /* Set the width of the drop-down list */
  -fx-pref-height: 114px; /* Set the height of the drop-down list */
}

/* Style for the list cells (items) */
.combo-box .list-cell {
  -fx-pref-height: 25px; /* Increase the height of each item */
  -fx-font-size: 16px; /* Adjust font size for better readability */
}
.combo-box .list-view .scroll-pane {
  -fx-hbar-policy: never; /* Hide horizontal scroll bar */
  -fx-vbar-policy: never; /* Hide vertical scroll bar */
}

.combo-box .list-cell:hover {
  -fx-background-color: #7B61FF; /* Background color for hovered item */
  -fx-text-fill: white; /* Text color for hovered item */
}

.combo-box .arrow {
  -fx-background-color: transparent; /* Ensure the arrow is transparent */
  -fx-border-color: transparent;
}
/* Style for the selected item in the dropdown list */
.combo-box .combo-box-popup .list-cell:filled:selected {
  -fx-background-color: #7B61FF; /* Background color for selected item in dropdown list */
  -fx-text-fill: white; /* Text color for selected item in dropdown list */
}




.imageView:hover {
  -fx-background-color: #454e5dfb;
}
.custom-alert{
  -fx-background-color: #152744;
  -fx-text-fill: #76c7c0;
}


.stackPane {
  -fx-background-color: #ffffff;
  -fx-background-radius: 10; /* Assuming the StackPane will be 40px wide */
  -fx-padding: 20;
  -fx-border-color: #ffffff;
  -fx-border-width: 2;

  -fx-border-radius: 20;
  -fx-overflow: hidden; 
}
.custom-progress-bar {
  
  -fx-background-color: transparent;
  -fx-padding: 3px;
  -fx-accent: linear-gradient(to right, #76c7c0, #4ca1af);
}

.custom-progress-bar .track {
  -fx-background-color: #2C3E50;
  -fx-background-radius: 5;
}

.custom-progress-bar .bar {
  -fx-background-color: linear-gradient(to right, #76c7c0, #4ca1af);
  -fx-background-radius: 5;
}

.custom-progress-bar .percentage {
  -fx-text-fill: #ffffff;
  -fx-font-weight: bold;
}
.min-btn{
  -fx-background-color: transparent;
}
.min-btn:hover{
  -fx-background-color:#7B61FF;
}
.close-btn{
  -fx-background-color: transparent;
}
.close-btn:hover{
  -fx-background-color: #c77676;
}

